@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: #2d272d;
}

/* bad practice sry guys*/
.signup-main {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.signup-info {
  color: white;
  padding: 15rem 5rem;
  padding-bottom: 20rem;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.check {
  height: 25px;
  width: 25px;
}

.signup-title {
  display: flex;
  max-width: 500px;
}

.signup-container {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 15rem 5rem;
  padding-bottom: 20rem;
}

.already-have {
  text-align: center;
  margin-top: 35px;
}

.sign-up {
  width: 100%;
  height: 3.5rem;
  border-radius: 10px;
  background-color: #1675e1;
  color: white;
  border: none;
}

.signUp {
  width: 140px;
  height: 50px;
  border-radius: 20px !important;
  background-color: #1675e1 !important;
  border: none !important;
}

.signIn {
  width: 140px;
  height: 50px;
  border-radius: 20px !important;
  background-color: transparent !important;
  border-style: solid;
  border-width: 4px !important;
  border-color: white !important;
}

.cart {
  width: 150px;
  height: 50px;
  border-radius: 20px !important;
  background-color: rgb(205, 124, 26) !important;
  color: black !important;
  border: none !important;
}

.nav-bar {
  background-color: rgb(50, 50, 55);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

html,
#root {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(50, 50, 55, 1) 0%,
    #20212a 100%
  );
}

.signup-main {
  display: flex;
  justify-content: center;
}

.email,
.password,
.username {
  width: 100%;
  height: 2.5rem;
  border: solid;
  border-color: rgb(70, 62, 62);
  border-radius: 10px;
  border-width: 3px;
}

.sign-up {
  width: 100%;
  height: 3.5rem;
  border-radius: 10px;
  background-color: #1675e1;
  color: white;
  border: none;
}

.already-have {
  text-align: center;
  margin-top: 35px;
}

.check {
  height: 25px;
  width: 25px;
}

.username:focus,
.email:focus,
.password:focus,
.username-log:focus,
.email-log:focus,
.password-log:focus {
  outline: 3px solid rgb(56, 137, 162);
  transition: outline-width 50ms ease-in;
}

.sign-up:disabled {
  opacity: 50%;
}

.p-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-p {
  color: #1675e1;
  font-weight: bold;
}

.forgot-p:hover {
  cursor: pointer;
}

.login-info {
  color: white;
  padding: 5rem;
  padding-bottom: 20rem;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 45rem;
}

.login-main {
  display: flex;
  justify-content: center;
}

.error {
  color: rgb(236, 136, 136);
}

.plus {
  font-size: 72px;
}
